<p>A leveling mod for OpenMW where your attributes and level grow automatically as your skills increase</p>
<div class="center">
  <a href="/img/ncgdmw-lua1.png"><img src="/img/ncgdmw-lua1.png" title="The stats menu" /></a>
  <a href="/img/ncgdmw-lua2.png"><img src="/img/ncgdmw-lua2.png" title="The script settings menu" /></a>
  <figcaption style="font-size: 0.9em;">These photos include <a href="https://www.nexusmods.com/morrowind/mods/43076">Chocolate UI</a>.</figcaption>
</div>
<h4 id="install">Installation:</h4>
<ol>
  <li>Download the zip from the link above (OpenMW 0.48.0 or newer is required!)</li>
  <li>Extract the contents to a location of your choosing, examples below:
    <pre><code># Windows
C:\games\OpenMWMods\Leveling\NCGDMW-Lua

# Linux
/home/username/games/OpenMWMods/Leveling/NCGDMW-Lua

# macOS
/Users/username/games/OpenMWMods/Leveling/NCGDMW-Lua</code></pre>
  </li>
  <li>Add the appropriate data path to your <code>openmw.cfg</code> file (e.g. <code>data="C:\games\OpenMWMods\Leveling\NCGDMW-Lua"</code>)</li>
  <li>Add <code>content=ncgdmw.omwaddon</code> and <code>content=ncgdmw.omwscripts</code> to your load order in <code>openmw.cfg</code> or enable them via OpenMW-Launcher</li>
  <li>Enjoy!</li>
</ol>

<p class="bold">
  When you finish selecting your character class and sign and get your papers, NCGDMW will begin. Press ESC and navigate to: Options >> Scripts >> NCGDMW in order to set up the mod's options to your liking.
</p>

<p>
  For more detailed information about how this mod works, please consult the various documents in the <code>docs</code> directory in the download zip.
</p>
